<template>
  <div class="container">

    <div class="d-flex justify-content-between">
      <div class="btn-group btn-group-toggle">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" value="USD" id="option1" @change="calculate()" v-model="currency"
            autocomplete="off"> USD
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" value="EUR" id="option2" @change="calculate()" v-model="currency"
            autocomplete="off"> EUR
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" value="CAD" id="option3" @change="calculate()" v-model="currency"
            autocomplete="off"> CAD
        </label>
      </div>

      <div>
        <input type="checkbox" id="5yrs" value="5" v-model="years">
        <label for="5yrs" class="mx-2">5 YRS</label>
        <input type="checkbox" id="10yrs" class="mr-3" value="10" v-model="years">
        <label for="10yrs" class="mx-2">10 YRS</label>
        <input type="checkbox" id="40yrs" class="mr-3" value="40" v-model="years">
        <label for="40yrs" class="mx-2">40 YRS</label>
      </div>


      <div class="btn-group btn-group-toggle">
        <label class="btn btn-secondary active">
          <input type="radio" name="display" value="Spread" @change="selectDisplayParameter()" v-model="display"
            autocomplete="off"> Spread
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="display" value="Yield" @change="selectDisplayParameter()" v-model="display"
            autocomplete="off"> Yield
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="display" value="3MLSpread" @change="selectDisplayParameter()" v-model="display"
            autocomplete="off"> 3MLSpread
        </label>
      </div>
    </div>

    <div class="w-50 mt-4">
      <input type="text" class="form-control" v-model="search" @change="calculate()"
        placeholder="Filter by company name...">
    </div>

    <table class="table">
      <thead>

        <tr>
          <th rowspan="2">Date</th>
          <th rowspan="2">Company</th>

          <th v-for="year in years" colspan="2" v-bind:key="year">{{ year }} years</th>

        </tr>
        <tr>

          <template v-for="year in years">
            <th v-bind:key="'fix' + year">FIX</th>
            <th v-bind:key="'frn' + year">FRN</th>
          </template>

        </tr>
      </thead>
      <tbody>
        <template v-for="(company, index) in companies">
          <tr v-bind:key="company.Id">
            <td>
              <span v-if="company.DateSent">
                <i v-if="company.showQuote" class="fa-solid fa-chevron-down" @click="showHide(index)" role="button"></i>
                <i v-else class="fa-solid fa-chevron-right" @click="showHide(index)" role="button"></i>
                {{ company.DateSent }}
              </span>
            </td>
            <td><b> {{ company.Company }} </b></td>

            <template v-for="year in years">
              <td v-bind:key="'fix1' + year"> <span v-if="company[year] && company[year].fix">

                  {{ formatValues(display, company[year].fix[display]) }}
                </span></td>
              <td v-bind:key="'fr2' + year"> <span v-if="company[year] && company[year].frn">
                  {{ formatValues(display, company[year].frn[display]) }}
                </span></td>
            </template>
          </tr>
          <template v-if="company.Quote && company.showQuote">
            <template v-for="nd in notDisplay">
              <tr v-bind:key="company.Id + nd">
                <td></td>
                <td>{{ nd }}</td>

                <template v-for="year in years">
                  <td v-bind:key="'fixa1' + year">
                    <span v-if="company[year] && company[year].fix">
                      {{ formatValues(nd, company[year].fix[nd]) }}
                    </span>
                  </td>
                  <td v-bind:key="'fr2a' + year"> <span v-if="company[year] && company[year].frn"> {{
                    company[year].frn[nd]
                  }}

                    </span></td>
                </template>

              </tr>
            </template>
          </template>
        </template>

        <tr>
          <td></td>
          <td>Average</td>
          <template v-for="year in years">
            <td v-bind:key="'average_fix' + year"> {{ calculateAverage(year, 'fix') }} </td>
            <td v-bind:key="'average_frn' + year"> {{ calculateAverage(year, 'frn') }}</td>
          </template>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
import data from './../assets/data.json'

export default {
  data() {
    return {
      items: data.Items,
      companies: [],
      currencies: ["EUR", "USD", "CAD"],
      allDisplay: ["Spread", "Yield", "3MLSpread"],
      display: "Spread",
      currency: "USD",
      years: [5, 10, 40],
      notDisplay: ["Yield", "3MLSpread"],
      search: '',
      spreadAverage: {}
    };
  },
  mounted() {
    this.calculate();
  },
  methods: {
    calculate: function () {
      this.companies = [];
      this.items.forEach(company => {
        if (this.search != '' && !company.Company.toLowerCase().includes(this.search.toLowerCase()))
          return;

        if (company.Quote) {
          this.years.forEach(year => {

            let fix = company.Quote.filter(x => x.Currency == this.currency && x.Years == year && x.CouponType == "FIX")[0];
            let frn = company.Quote.filter(x => x.Currency == this.currency && x.Years == year && x.CouponType == "FRN")[0];

            company[year] = {
              fix: typeof (fix) !== 'undefined' ? fix : null,
              frn: typeof (frn) !== 'undefined' ? frn : null,
            };
          });
        }
        this.companies.push(company);
      });
    },
    selectDisplayParameter: function () {
      this.notDisplay = [];
      this.allDisplay.forEach(element => {
        if (this.display != element)
          this.notDisplay.push(element);
      });

      this.calculate();
    },
    calculateAverage: function (year, type) {
      var sum, count, average;
      sum = count = average = 0

      this.companies.forEach(company => {

        if (typeof (company[year]) == 'undefined')
          return;

        if (type == 'fix' && company[year].fix && company[year].fix[this.display]) {
          sum += company[year].fix ? company[year].fix[this.display] : 0;
          count += 1;
        } else if (type == 'frn' && company[year].frn && company[year].fix[this.display]) {
          sum += company[year].frn ? company[year].frn[this.display] : 0;
          count += 1;
        }
      });

      average = sum / count;

      if (Math.round(average) !== average) {
        average = average.toFixed(2);
      }

      return !isNaN(average) ? '+' + average + 'bp' : '';

    },
    showHide: function (index) {
      this.companies[index].showQuote = !this.companies[index].showQuote;
      this.calculate();
    },
    formatValues: function (type, value) {
      switch (type) {
        case 'Spread':
          return value ? '+' + value + 'bp' : '';
        case 'Yield':
          return value ? value.toFixed(3) + '%' : '';
        case '3MLSpread':
          return value ? '+' + value + 'bp' : '';
        default:
          return value;
      }
    },

  }
}
</script>